# **Assignment 02 Data Types and Structures** ⭐

##Q1. What are data structures, and why are they important?
      >> Data structures are a specific way of organizing data in a specialized format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively. They are a means of handling information, rendering the data for easy use.

      Data structures are important because they allow computers to efficiently process large amounts of complex data by logically organizing data elements, which in turn leads to more streamlined and understandable code, enhancing the performance of software applications by optimizing data access and manipulation speeds.

      Key points about the importance of data structures:
      1. Efficient data handling.
      2. Algorithm design foundation.
      3. Code readability and maintainability.
      4. Memory optimization.

##Q2. Explain the difference between mutable and immutable data types with examples?
      >>Data types in Python are categorized into mutable and immutable data types. Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can’t be changed.

      Mutable Data Types – These data types can be changed after they are created. For example, in Python, lists and dictionaries are mutable data types. We can add, remove, or update elements in a mutable data type without creating a new object.
      Ex>

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

Immutable Data Types – These data types cannot be changed after they are created. For example, in Python, strings and tuples are immutable data types. We cannot change the content of an immutable data type after it is created.
Ex>

In [ ]:
my_str = "Hello"
new_str = my_str + " World"
print(my_str)
print(new_str)

Hello
Hello World

##Q3 What are the main differences between lists and tuples in Python?
     >>Lists are mutable, slower, and use more memory, while tuples are immutable, faster, and use less memory.

     -->List is Mutable and Tuple is not (Cannot update an element, insert and delete elements)

     -->Tuples are faster because of read only nature. Memory can be efficiently allocated and used for tuples.

##Q4 Describe how dictionaries store data?
     >>Dictionaries in Python store data as **key-value pairs** using a **hash
       table** implementation. Each key is hashed to a unique memory location, allowing for **fast lookups, insertions, and deletions** with an average time complexity of **O(1)**. Keys must be **immutable** (e.g., strings, numbers, tuples), while values can be of any type.

##Q5 Why might you use a set instead of a list in Python?
     >>We might use a set instead of a list when we need to store unique elements and perform fast lookups (O(1) complexity). Sets also provide efficient mathematical operations like union and intersection, unlike lists.

##Q6  What is a string in Python, and how is it *different* from a list?
      >>In Python, a string is a sequence of characters, while a list is a sequence of items that can be of any type. Strings are immutable, meaning their values cannot be changed after they are created, while lists are mutable and can be modified.

##Q7 How do tuples ensure data integrity in Python?
     >>Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be modified after creation. This prevents accidental changes, making them ideal for storing constant values, ensuring data consistency, and enabling safe use as dictionary keys or set elements.

##Q8 What is a hash table, and how does it relate to dictionaries in Python?
     >>A hash table is a data structure that stores key-value pairs using a **hashing function** to map keys to unique memory locations for fast retrieval. In Python, dictionaries are implemented as hash tables, allowing for **O(1) average-time complexity** for lookups, insertions, and deletions.

##Q9 Can lists contain different data types in Python?
     >>Yes, lists in Python can contain different data types, including integers, floats, strings, booleans, other lists, tuples, dictionaries, and even functions. This flexibility makes lists highly versatile.

Example:

In [ ]:
my_list = [42, "hello", 3.14, True, [1, 2, 3], {"key": "value"}]
print(my_list)

[42, 'hello', 3.14, True, [1, 2, 3], {'key': 'value'}]

##Q10 Explain why strings are immutable in Python?
      >>Strings are immutable in Python to ensure memory efficiency, consistency (for use as dictionary keys), and data integrity. Once created, a string cannot be changed, preventing accidental modifications and improving performance by reusing memory.

##Q11 What advantages do dictionaries offer over lists for certain tasks?
      >>Dictionaries offer **faster lookups** (O(1) vs. O(n) in lists), **key-value pairing**, and automatic **key uniqueness**. They are ideal for **fast retrieval** and **associating related data**.

##Q12 Describe a scenario where using a tuple would be preferable over a list?
      >>A tuple would be preferable over a list when we need to store **constant data** that should not be modified, such as **coordinates** (x, y, z) in a 3D space or **dates** (year, month, day) that should remain unchanged throughout the program. Tuples provide data integrity and are more **memory-efficient** and **faster** for such use cases.

##Q13 How do sets handle duplicate values in Python?
     >>Sets in Python automatically remove duplicate values. When we try to add a duplicate element, the set ignores it, ensuring that all elements in a set are unique.

Example:

In [ ]:
my_set = {1, 2, 3, 3, 4}
print(my_set)

{1, 2, 3, 4}

##Q14 How does the "in" keyword work differently for lists and dictionaries?
     >>For lists, the "in" keyword checks if an element is present. For dictionaries, it checks if a key exists, not the value.

##Q15 Can you modify the elements of a tuple? Explain why or why not?
     >>No, we cannot modify the elements of a tuple because tuples are immutable. Once created, their contents cannot be changed, added to, or removed, ensuring data integrity and allowing for efficient memory usage.

##Q16 What is a nested dictionary, and give an example of its use case?
     >>A nested dictionary is a dictionary where values are other dictionaries. It's useful for storing hierarchical data, like user profiles or multi-level categories.

In [ ]:
students = {
    "Alice": {"age": 20, "grades": [85, 90, 92]},
    "Bob": {"age": 22, "grades": [88, 79, 91]},
}

print(students["Alice"]["grades"])

[85, 90, 92]

##Q17 Describe the time complexity of accessing elements in a dictionary?
     >>The time complexity of accessing elements in a dictionary is **O(1)** on average, meaning it takes constant time to retrieve a value using its key. This is because dictionaries in Python are implemented using a **hash table**, which allows for efficient key-based lookup. However, in rare cases (like hash collisions), the time complexity could degrade to **O(n)**, but this is uncommon.

##Q18  In what situations are lists preferred over dictionaries?
      >>**Lists** are preferred when **order matters**, we need **indexed access**, or when storing **multiple values** without key-value pairs.

##Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?
    >>Dictionaries are considered **unordered** because the keys in a dictionary are stored based on their **hash values** rather than in a predictable order. However, starting from Python 3.7, dictionaries **maintain insertion order**, meaning they remember the order in which keys were added, but the order is not guaranteed to be meaningful for data retrieval. This does not affect **data retrieval** as keys can still be accessed directly, but order-based operations (like sorting) are not inherently supported.

---

##Q20 Explain the difference between a list and a dictionary in terms of data retrieval?
     >>In a **list**, data is retrieved by **index** (position), while in a **dictionary**, data is retrieved by **key** (unique identifier). Lists are ordered, and dictionaries use hashing for fast access.

     -->List: Elements are accessed by their index (position in the list). Retrieval time is O(1) when using the index.

In [ ]:
my_list = [10, 20, 30]
print(my_list[1])

20

-->Dictionary: Elements are accessed by their key (unique identifier). Retrieval time is O(1) on average due to hash table implementation.

In [ ]:
my_dict = {"a": 10, "b": 20}
print(my_dict["b"])

20

#**Practical Questions Data Types and Structures** ⭐

##Q1 Write a code to create a string with your name and print it?
     >>

In [ ]:
name = "Pankaj"
print(name)

Pankaj

##Q2 Write a code to find the length of the string 'Hello World"?
     >>

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

##Q3 Write a code to slice the first 3 characters from the string "Python Programming"?
     >>

In [ ]:
string = "Python Programming"
slice = string[:3]
print(slice)

Pyt

##Q4 Write a code to convert the string "hello" to uppercase?
     >>

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

##Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple" ?
     >>

In [ ]:
string = "I like apple"
updated_string = string.replace("apple", "orange")
print(updated_string)

I like orange

##Q6 Write a code to create a list with numbers 1 to 5 and print it?
     >>

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

##Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]?
     >>

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

##Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
     >>

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

##Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd]?
     >>

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

##Q10 Write a code to reverse the list [10, 20, 30, 40, 50]?
      >>

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

##Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it?
      >>

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

##Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', blue, yellow)?
      >>

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

##Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
      >>

In [ ]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

##Q14 Write a code to find the index of the element "cat" in the tuple (dog, cat, rabbit) ?

    >>

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

##Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
      >>

In [ ]:
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

##Q16 Write a code to create a set with the elements 'a, 'b', 'c' and print it?
      >>

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

##Q17 Write a code to clear all elements from the set {12,3,4,5} ?
      >>

In [ ]:
my_set = {12, 3, 4, 5}
my_set.clear()
print(my_set)

set()

##Q18 Write a code to remove the element 4 from the set {12,3,4} ?
      >>

In [ ]:
my_set = {12, 3, 4}
my_set.remove(4)
print(my_set)

{3, 12}

##Q19 Write a code to find the union of two sets {1, 2, 3} and {3,4,5} ?
      >>

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # 2nd option set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

##Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
      >>

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2  # 2nd option set1.intersection(set2)
print(intersection_set)

{2, 3}

##Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
      >>

In [ ]:
my_dict = {
    "name" : "John",
    "age"  : 30,
    "city" : "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

##Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {name: "John', 'age: 25}?
      >>

In [ ]:
my_dict = {
    "name" : "John",
    "age"  : 25
}

my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

##Q23 Write a code to access the value associated with the key 'name' in the dictionary {name: "Alice", age: 30}?
      >>

In [ ]:
my_dict = {
    "name" : "Alice",
    "age"  : 30
}

name_value = my_dict["name"]
print(name_value)

Alice

##Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, city. New York}?
      >>

In [ ]:
my_dict = {
    "name" : "Bob",
    "age"  : 22,
    "city" : "New York"
}

del my_dict["age"]
print(my_dict)

##Q25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?
       >>

In [ ]:
my_dict = {
    "name": "Alice",
    "city": "Paris"
}

if "city" in my_dict:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

##Q26 Write a code to create a list, a tuple, and a dictionary, and print them all ?
      >>

In [ ]:

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

##Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced) ?
      >>

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [62, 72, 75, 95, 98]

##Q28 Write a code to create a list with strings and print the element at the third index ?
      >>

In [ ]:

my_list = ["apple", "banana", "cherry", "date", "elderberry"]

print(my_list[3])

date

##Q29 Write a code to combine two dictionaries into one and print the result ?
      >>

In [ ]:

dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

##Q30 Write a code to convert a list of strings into a set?
      >>

In [ ]:

my_list = ["apple", "banana", "cherry", "apple", "date"]

my_set = set(my_list)

print(my_set)

{'apple', 'date', 'banana', 'cherry'}